

.img {
    position: relative;
    
}

.btnMensFashion {
    border-style: none;
    border-width: medium;
    position: absolute;
    bottom: 220px;
    left: 17%;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    height: 68px;
    width: 200px;
}

.btnWomenFashion {
    border-style: none;
    border-width: medium;
    width: 191px;
    position: absolute;
    bottom: 200px;
    right: 24%;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

